.taskList {
  margin-top: 0.5rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.5rem;
  width: 90%;
  margin-top: 1rem;
}
.taskList .list {
  list-style-type: none;
  background-color: white;
  width: 100%;
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  position: relative;
  cursor: pointer;
  border-radius: 1rem;
  box-shadow: 4px 4px 10px black;
}
.fa-check {
  position: absolute;
  left: 0.5rem;
  top: 1.2rem;
  color: green;
  cursor: pointer;
}
.fa-xmark {
  position: absolute;
  right: 1rem;
  top: 1.2rem;
  color: red;
  cursor: pointer;
}
.display-none {
  display: none;
}
.check {
  text-decoration: line-through;
}
.notTask {
  margin-top: 1rem;
  font-size: 1.2rem;
}
