* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  margin: 1rem;
  background-image: url("./assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
